<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="common" th:remove="tag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <script th:inline="javascript">
        //获取全局绝对路径
        _ctx = /*[[@{/}]]*/ '';
        _ctx = _ctx.substr(0, _ctx.length - 1);

        /**
         * 返回全局绝对路径
         * @param _url
         */
        function _baseUrl(_url){
            if(_url == undefined){
                return _ctx;
            }
            return _ctx + _url;
        }
    </script>
    <link href="http://g.alicdn.com/sj/qnui/1.5.1/css/sui.min.css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/qnui/1.5.1/js/sui.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</thymeleaf>

