<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="head" th:remove="tag">
    <div class="sui-navbar navbar-fixed-top">
        <div class="navbar-inner"><a href="#" class="sui-brand"><img src="http://gtms01.alicdn.com/tps/i1/T1c8xfFBFhXXcTHKnj-56-44.png"/>千牛</a>
            <ul class="sui-nav">
                <li class="active sui-dropdown"  th:each="menu : ${menus}" th:if="${menu.type == 0}">
                    <a href="javascript:void(0);" data-toggle="dropdown" data-trigger="hover" class="dropdown-toggle" th:with="parentId=${menu.parentId}" th:inline="text">[[${menu.funName}]]<i class="sui-icon icon-pc-chevron-bottom"></i></a>
                    <ul role="menu" class="sui-dropdown-menu">
                        <li role="presentation" th:each="menuOne : ${menus}" th:if="${menuOne.type == 1 and menu.id == menuOne.parentId}" ><a onclick="mainframe('/test')" role="menuitem" tabindex="-1" href="javascript:void(0);" th:text="${menuOne.funName}"></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sui-nav pull-right nav-links">
                <li class="active"><a href="#"><i class="sui-icon icon-pc-list"></i>&nbsp;日志</a></li>
                <li><a href="javascript:void(0);"><i class="sui-icon icon-pc-settings"></i>&nbsp;设置</a></li>
                <li><a href="javascript:void(0);"><i class="sui-icon icon-pc-question-circle"></i>&nbsp;帮助</a></li>
            </ul>
        </div>
    </div>
</thymeleaf>